/* Kyler Schroeder
   AFV 1309 */
  

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.twitter_feed {
		width:300px !important;
	}
}

.ui-body-c, .ui-overlay-c {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAQUlEQVQIW12N0QkAQAhCc6L2H6MW6krokPwpUXywVrXQ2n/ueNwgM83dWURE1BotMrxTiuHsMi7/M6ekPCLurC495yhCBJAyV4gAAAAASUVORK5CYII=) repeat;
}

ul {
	list-style-type:none;
}

.centered {
	text-align:center;
}

.twitter_feed {
	margin:0 auto;
	padding:5px;
	width:500px;
}

.twitter_feed div:nth-child(2n+1) {
	background-color:#CCC;
}

.tweet {
	padding:5px;
}